<div class="product-list">
    <h2 class="text-center">{{heading}}</h2>
    <div *ngFor = "let product of products" class="section">
        <div class="section-left inline-block">
            <img class="product-image" [src]="product.url">
            <div>{{product.offerText}}</div>
        </div>
        <div class="section-right inline-block">
                <div class="brand-div">{{product.brandName}}</div>
                <div>{{product.productName}}</div>
                <div>{{product.quantity}}</div>
                <div>MRP {{product.price}}</div>
                <div style="font-weight: bold;">Rs {{product.mrf}}</div>
                <div class="button-div">
                    <app-button [button]="cartButton" (click)="increaseCartItem(product.pid)" class="inline-block"></app-button>
                    <app-button [button]="addButton" (click)="increaseCartItem(product.pid)" class="inline-block"></app-button>
                    <span class = "individual-count inline-block">{{product.value}}</span>
                    <app-button [button]="reduceButton" (click)="reduceCartItem(product.pid)" class="inline-block"></app-button>
                </div>
        </div>
    </div>
    <app-footer [total]="total" [quantity]="quantity"></app-footer>
</div>

