/* You can add global styles to this file, and also import other style files */
.product-image{
    width: 42%;
    height: 59%;
}

.product-list{
    width:70%; 
    margin:auto;
    font-family: sans-serif;
    overflow: hidden;
    margin-bottom: 2em;
}

.product-list > h2{
    color: #447c2b;
}

.footer{
    width: 70%;
    background-color: #F753F2;
    position: fixed;
    bottom: 0;
    padding: 5px;
}

.footer-text{
    width : 70%;
}

.footer-text > div{
    font-weight: bold;
    color: black;
}

.footer-button{
    width : 10%;
}

.inline-block{
    display: inline-block
}

.section{
    border-bottom: solid 1px #254086;
    padding: 20px;
    width: 100%;
}

.section:hover {
    background-color: #ddd;
    border: none;
  }

.section-right{
    width: 30%;
    padding: 20px;
}

.text-center{
    text-align: center;
}

.section-left{
    width: 40%;
    padding: 20px;
}

.individual-count{
    padding: 5px;
}
.brand-div{
    color: #447c2b;
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
}

.product-div{
    line-height: 1.5;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}

.button-div{
    padding: 10px;
    width: 90%;
}

.cart-button{
    background-color : #72D713;
    border : solid #72D713;
    border-radius: 5px;
    font-weight: bold;
    width: 70%;
}

.add-button{
    background-color : #72D713;
    border : solid #72D713;
    border-radius: 20px;
    font-weight: bold;
}

.reduce-button{
    background-color : #72D713;
    border : solid #72D713;
    border-radius: 20px;
    font-weight: bold;
}

.checkout-button{
    background-color : #72D713;
    border : solid #72D713;
    border-radius: 5px;
    font-weight: bold;
    height: 35px;
}

.button{
    text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
